td, th {
    font-size: large;
    border: 1px solid green;
    color: black;
    margin: 10px;
    padding: 7px;
    text-align: center;
}

.active_page {
    color: rgba(255, 99, 71, 0.99);
}

.button_page {
    color: yellow;
    border: 1px solid black;
    margin: 5px;
    padding: 20px;
    font-size: large;
}

