<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link href="style/main.css" rel="stylesheet">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Status</th>
                <th colspan="2">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "task, number : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.description}" th:id="'description_' + ${task.id}"/>
                <td th:text="${task.status}" th:id="'status_' + ${task.id}"/>
                <td>
                    <form th:method="GET" th:action="@{/{id}(id=${task.id})}">
                        <input type="submit" value="Edit"/>
                    </form>
                </td>
                <td>
                    <form th:method="DELETE" th:action="@{/{id}(id=${task.id})}">
                        <input type="hidden" name="currentPage" th:value="${current_page}">
                        <input type="submit" value="Delete" />
                    </form>

                </td>
            </tr>
        </tbody>
    </table>
    <h2>
        <form th:method="POST" th:action="add_page">
            <input type="submit" value="Add new task" />
        </form>

    </h2>
    <h2>
        <button th:each="pageNumber : ${page_numbers}" class="button_page">
            <a th:href="@{/(page=${pageNumber}, limit = 10)}" th:text="${pageNumber}" th:classappend="${pageNumber == current_page? 'active_page' : ''}"></a>
        </button>
    </h2>
</body>
</html>